{% extends '_base.html.twig' %}

{% block body %}
    <h1>User creation</h1>

    {{ form_start(form) }}

    <div class="form-field">
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.public) }}
        {{ form_row(form.frozen) }}
        {{ form_row(form.roles) }}
    </div>

    <div>
        <button><a href="{{ path('user_index') }}">Back to the List</a></button> | <input type="submit" value="Create" />
    </div>

    {{ form_end(form) }}

{% endblock %}
