{% extends '_base.html.twig' %}

{% block body %}
    <h1>Pendingnurls list</h1>

    {% if pendingNurls %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Approved</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pendingNurl in pendingNurls %}
            <tr>
                <td><a href="{{ path('pendingnurl_show', { 'id': pendingNurl.id }) }}">{{ pendingNurl.id }}</a></td>
                <td>{% if pendingNurl.approved %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pendingnurl_show', { 'id': pendingNurl.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pendingnurl_edit', { 'id': pendingNurl.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        Nothing to display.
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('pendingnurl_new') }}">Create a new pendingNurl</a>
        </li>
    </ul>
{% endblock %}
