{% extends '_base.html.twig' %}

{% block body %}
    <h1>Reportednurl creation</h1>

    {{ form_start(form) }}

    <div class="form-field">
        {{ form_row(form.reason) }}
        {{ form_row(form.frozen) }}
        {{ form_row(form.nurl) }}
    </div>

    <div>
        <button><a href="{{ path('reportednurl_index') }}">Back to the List</a></button> | <input type="submit" value="Create" />
    </div>

    {{ form_end(form) }}

{% endblock %}
