{% extends '_base.html.twig' %}

{% block body %}
    <h1>Tags list</h1>

    {% if tags %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Votes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td><a href="{{ path('tag_show', { 'id': tag.id }) }}">{{ tag.id }}</a></td>
                <td>{{ tag.content }}</td>
                <td>{{ tag.votes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tag_show', { 'id': tag.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tag_edit', { 'id': tag.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        Nothing to display.
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('tag_new') }}">Create a new tag</a>
        </li>
    </ul>
{% endblock %}
